<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Smartphone Addiction Prediction Using Machine Learning</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/chart.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>
<style>

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center;

  padding: 20px; /* Padding around the image */
 
}



.chart-title {
      text-align: center;
      color: aliceblue;
      margin-bottom: 10px;
    }
   </style>
<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
           
          
          
                   
            <span style="color: #000000;">
              Prediction of Smart Phone Addiction
            </span>
          
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('upload')}}">Upload </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('prediction')}}">Prediction</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('performance')}}">Performance Analysis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('chart')}}">Chart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('index')}}">Logout </a>
                </li>
              </ul>
          
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>
                   
                        <span style="color: #26bfee;">
                          Prediction of Smart Phone Addiction
                        </span>
                      </h1>
                      <p>
                       Chart
                      </p>
                      <div class="btn-box">
                         
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  
  <!-- end about section -->
  <div class="body_bg layout_padding">

    <!-- service section -->

    <section class="service_section ">
      <div class="container">
        <div class="heading_container">
          <h2>
            Chart
          </h2>
        </div>
      </div>
      <div class="container">
      
        <div class="col-md-8 col-lg-6" style="margin-left:300px">
          <section class='tabs-content'>
           
            <html>
              <head>
                 <title></title>
                 <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
                 </script>
                 <script type = "text/javascript">
                    google.charts.load('current', {packages: ['corechart']});     
                 </script>
              </head>
              
              <body>
                 <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto">
                 </div>

                 
                 
                 <h1 class="chart-title">Distribution of Phone Dependency Scores</h1>
                 <div class="chart-wrapper">
                   <img class="chart-thumbnail" src="../static/images/chartsc.png" alt="Distribution of Phone Dependency Scores">
                 </div>
               
                 <h1 class="chart-title">Distribution of Phone Dependency Scores on Gender</h1>
                 <div class="chart-wrapper">
                   <img class="chart-thumbnail" src="../static/images/genderch.png" alt="Distribution of Phone Dependency Scores on Gender">
                 </div>
               
                 <h1 class="chart-title">Daily Phone Usage Habits: Addicted vs. Non-Addicted</h1>
                 <div class="chart-wrapper">
                   <img class="chart-thumbnail" src="../static/images/barchart.png" alt="Daily Phone Usage Habits: Addicted vs. Non-Addicted">
                 </div>
                      
                 <h1 class="chart-title">Time Spent on Phone for Games vs. Addiction</h1>
                 <div class="chart-wrapper">
                   <img class="chart-thumbnail" src="../static/images/gendertime.png" alt="Time Spent on Phone for Games vs. Addiction">
                 </div>
               
                 <h1 class="chart-title">Phone Usage in Social Gatherings: Addicted vs. Non-Addicted</h1>
                 <div class="chart-wrapper">
                   <img class="chart-thumbnail" src="../static/images/gathering.png" alt="Phone Usage in Social Gatherings: Addicted vs. Non-Addicted">
                 </div>
                 <script language = "JavaScript">
                    function drawChart() {
                       // Define the chart to be drawn.
                       var data = google.visualization.arrayToDataTable([
                          ['Model', 'Accuracy_score'],
                          ['StackingClassifier',  94],
                          ['CatBoostClassifier',  96.12],
                          ['ExtraTreeClassifier',  100],
                        
                       ]);
           
                       var options = {title: 'Accuracy_score'}; 
           
                       // Instantiate and draw the chart.
                       var chart = new google.visualization.BarChart(document.getElementById('container'));
                       chart.draw(data, options);
                    }
                    
                    google.charts.setOnLoadCallback(drawChart);
                 </script>
              </body>
           </html>

           <br>
           <br>
           

            <head>
              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
              <script type="text/javascript">
                google.charts.load("current", {packages:["corechart"]});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                  var data = google.visualization.arrayToDataTable([
                    ['class', 'Addiction Rate'],
                    ['No Addiction',     60],
                   
                    ['Addiction',    40],
              
                  ]);
          
                  var options = {
                    title: '',
                    is3D: true,
                  };
          
                  var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                  chart.draw(data, options);
                }
              
              </script>
            </head>
            <body>
             
             
            <div id="piechart_3d" style="width: 500px; height: 500px; "></div>
             
            </body>
                
                
        

      </div>
    </section>

    <!-- end service section -->

    <!-- quote section -->

    

    <!-- end client section -->

  </div>
  <!-- info section -->

  <!-- <section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      
    </div>


  </section> -->


  <!-- end info section -->

  <!-- footer section -->
   
  <!-- footer section -->

  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>

</body>

</html>