<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Smartphone Addiction Prediction Using Machine Learning</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/styles.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
           
          
          
                   
          <span>
            Prediction of Smart Phone Addiction
           
          </span>
          
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('login')}}">Login </a>
                </li>
              </ul>
          
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>
                   
                        <span>
                          Prediction of Smart Phone Addiction

                        </span>
                      </h1>
                      <span>
                       Login
                      </span>
                      <div class="btn-box">
                         
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  
  <!-- end about section -->
  <div class="body_bg layout_padding">

    <!-- service section -->

    <section class="service_section ">
      <div class="container">
        <div class="heading_container">
          <h2>
            Login
          </h2>
        </div>
      </div>
      <div class="container">
      

        <head>

        
         
          <style>
       
       
       body  {
        position: relative;
  height: 70vh;
  background-image: url(../static/images/loginig.png); /* Ensure correct path */
  background-size: cover;
  background-position: center;
  z-index: 1; /* To ensure content is above the overlay */
        
       }
        
        
           </style>
            <script>
               addEventListener("load", function () {
                   setTimeout(hideURLbar, 0);
               }, false);
       
               function hideURLbar() {
                   window.scrollTo(0, 1);
               }
       
               function login(){
               var uname = document.getElementById("uname").value;
               var pwd = document.getElementById("pwd").value;
       
         if(uname == "admin" && pwd == "admin")
         {
           alert("Login Success!");
           
           window.location = "{{url_for('upload')}}";
           return false;
         }
         else
         {
         alert("Invalid Credentials!")
         }
               }
           
             
       
       
        
           </script>
         
       </head>
       
        <body id="page-top">
       
          
        
       
         <!-- Portfolio Section -->
         <section class="page-section portfolio" id="portfolio">
        
             <br>
           <br>
             <!-- Portfolio Section Heading -->
              
             <!-- Icon Divider -->
           
       
             <!-- Portfolio Grid Items -->
        <div class="row">
       
               <!-- Portfolio Item 1 -->
          <div class="col-md-3 col-lg-4" style="margin-left:380px">
            <div class="control-group">
                   <!-- Username -->
                
                   <label class="control-label"   for="username"><b>Username</b></label>
                   <div class="controls">
                     <input type="text" id="uname" name="uname" placeholder="" class="form-control">
                    
                 </div>
                 </div>
                 <div class="control-group">
                   <!-- Password-->
                 <br>
                   <label class="control-label"  for="password"><b>Password</b></label>
                   <div class="controls">
                     <input type="password" id="pwd" name="pwd" placeholder="" class="form-control">
                   
                 </div>
                 </div>
              
                 
                 <div class="control-group">
                   <!-- Button -->
                 <br>
                   <div class="controls">
                  
                     <input type="button" class="btn btn-success" value="Login" style="margin-left: 150px" onclick="login()">
                   
                 </div>
                 </div>
                 
         </div>
         </div>
        
      
         </section>
       
       
         
       
           </body>







      </div>
    </section>

    <!-- end service section -->

    <!-- quote section -->

    

    <!-- end client section -->

  </div>
  <!-- info section -->

  <!-- <section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      
    </div>


  </section> -->


  <!-- end info section -->

  <!-- footer section -->
   
  <!-- footer section -->

  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>

</body>

</html>