<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Smartphone Addiction Prediction Using Machine Learning</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/perview.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
           
          
          <h3>
                   
            <span>
              Prediction of Smart Phone Addiction
             
            </span>
          </h3>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('upload')}}">Upload </a>
                </li>
              </ul>
          
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>
                   
                        <span>Prediction of Smart Phone Addiction

                        </span>
                      </h1>
                      <p>
                        Preview
                      </p>
                      <div class="btn-box">
                         
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  
  <!-- end about section -->
  <div class="body_bg layout_padding">

    <!-- service section -->

    <section class="service_section ">
      <div class="container">
        <div class="heading_container">
          <h2 style="color: aliceblue;">
           Preview
          </h2>
        </div>
      </div>
      <div class="container">
      
        <body id="page-top">

          <!-- Navigation -->
          
        
        
          <!-- Contact Section -->
          <section class="page-section" id="contact">
            <div class="container">
             <br>
           <br>
              <!-- Contact Section Heading -->
              <h2 class="text-center text-uppercase text-secondary mb-0"> </h2>
        
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
        
              <!-- Contact Section Form -->
<div class="row" style="margin-left:-100px">
  <div class="col-lg-8 mx-auto">
    <!-- Wrapping the table in a scrollable div -->
    <div style="height: 400px; overflow-y: auto;">
      {{ df_view.head(200).to_html(classes="table striped", na_rep="-") | safe }}
    </div>
  </div>
</div>

<style>
  /* Custom style for the table text color */
  .table {
    color: white; /* Set text color to white */
    
  }

  /* Optional: Add custom styling to the table header */
  .table thead th {
    background-color: #333; /* Dark background for the header */
    color: white; /* White text color for the header */
  }

  /* Optional: Add custom styling to the table rows */
  .table tbody tr:nth-child(odd) {
    background-color: #444; /* Slightly darker background for odd rows */
  }

  .table tbody tr:nth-child(even) {
    background-color: #555; /* Slightly lighter background for even rows */
  }
</style>

              
               
          </section>
          <br>
          <br>
         <div class="form-group" style="padding:0px 250px 10px 40px;height:200px">
                            <input style="margin-left:500px" type="button" onclick="hideLoader()" class="btn btn-primary" value="Click to Train | Test" />
                  <div id="loading" style="display:None;margin-top:552950px"></div>
                  </div>
        
        
          <!-- Copyright Section -->
          <section class="copyright py-4 text-center text-white">
            <div class="container">
             
            </div>
          </section>
        
          <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
          <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        
        
          <!-- Bootstrap core JavaScript -->
          
          
          <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
           <script type='text/javascript'>
           
        function hideLoader() {  
        $('#loading').show(0).delay(10000).hide(0,function(){
             alert("Training finished!");
           window.location = "{{url_for('prediction')}}";
           });    
        }
        
        
           </script>
           
        
        </body>





      </div>
    </section>

    <!-- end service section -->

    <!-- quote section -->

    

    <!-- end client section -->

  </div>
  <!-- info section -->

  <!-- <section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      
    </div>


  </section> -->


  <!-- end info section -->

  <!-- footer section -->
   
  <!-- footer section -->

  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>

</body>

</html>